.container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 290px;
  height: 361px;
}

.image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.eye {
  display: grid;
  grid-template-columns: 10px 10px;
  grid-template-rows: 10px 10px;
  background-color: #fff;
  justify-content: center;
  width: fit-content;
  position: absolute;
}

.left {
  bottom: 181.5px;
  left: 60px;
}

.right {
  bottom: 181.5px;
  right: 90px;
}

.box {
  background-color: #54605e;
}

.pupil {
  background-color: #d9fff9;
}
