$background: #4bccb909;
$strongaccent: #4bccb8;
$lightaccent: #71e99f;
$primary: #54605e;
$secondary: #909b99;
$tertiary: #ebf0ef;

:root {
  --light-cyan: #{$background};
  --strong-accent-cyan: #{$strongaccent};
  --light-accent-cyan: #{$lightaccent};
  --dark-grey: #{$primary};
  --med-grey: #{$secondary};
  --light-grey: #{$tertiary};
}

html {
  background-color: #4bccb909;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  box-sizing: border-box;
  padding-top: 1rem;
  width: 80vw;
  height: 100vh;
  margin: auto;
  position: relative;
}

section {
  position: relative;
}

h1 {
  color: var(--dark-grey);
}

h2 {
  color: var(--strong-accent-cyan);
}

section {
  text-align: center;
}

summary {
  text-align: center;
  margin-top: 0;
}

article {
  padding-top: 0.25em;
  padding-bottom: 0.5em;

  p {
    padding-bottom: 0.25em;
    font-size: 11pt;
    text-align: justify;
  }

  div {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding-top: 0.5em;

    a {
      img {
        width: 28px;
        height: 28px;
      }
    }
  }
}

$breakpoint-tablet: 500px;
@media (min-width: $breakpoint-tablet) {
  summary {
    text-align: left;
    margin-top: 4em;
  }
  article {
    margin: auto;
    padding: 2.5em 1em 2.5em 1em;
    max-width: 600px;
    font-size: 12pt;
    line-height: 15pt;

    div {
      padding-top: 2em;
      width: 35%;

      a {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
