$background: #4bccb909;
$strongaccent: #4bccb8;
$lightaccent: #71e99f;
$primary: #54605e;
$secondary: #909b99;
$tertiary: #ebf0ef;

:root {
  --light-cyan: #{$background};
  --strong-accent-cyan: #{$strongaccent};
  --light-accent-cyan: #{$lightaccent};
  --dark-grey: #{$primary};
  --med-grey: #{$secondary};
  --light-grey: #{$tertiary};
}

html {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4bccb909;
  -mx-overflow-style: none;
  scrollbar-width: none;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
  }
}

body::-webkit-scrollbar {
  display: none;
}

main {
  box-sizing: border-box;
  padding-top: 1rem;
  width: 80vw;
  height: 100vh;
  margin: auto;
  position: relative;
}

main > * {
  padding: 0;
  margin: 0;
}

main > div {
  min-height: calc(77vh);
  height: max-content;
}

$breakpoint-tablet: 500px;
@media (max-width: $breakpoint-tablet) {
  main > div {
    min-height: calc(67vh);
    height: max-content;
  }
}
