.wrapper {
  max-width: 800px;
  margin: auto;

  .frontmatter {
    background-color: #4bccb927;
    padding: 1em 1em;
    min-height: 12vh;
    height: max-content;
    border-radius: 4pt;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        font-size: large;
        color: var(--med-grey);
        width: fit-content;

        &:hover {
          color: var(--strong-accent-cyan);
        }
      }

      span {
        color: var(--dark-grey);
        margin-top: 0.15em;
        margin-bottom: 0.35em;
        text-align: center;
        font-size: 1em;
      }
    }

    .referBtns {
      display: flex;
      justify-content: flex-end;

      > * {
        padding: 0;
        margin-left: 0.5em;
        font-weight: bold;
        color: var(--med-grey);
        &:hover {
          color: var(--strong-accent-cyan);
        }
      }
    }
  }
  .body {
    overflow: hidden;
    -mx-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      text-decoration: none;
      color: var(--strong-accent-cyan);
    }

    pre {
      background-color: #4bccb927;
      box-sizing: border-box;
      border-radius: 4pt;
      padding: 1.5em;
      overflow: scroll;
      -mx-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      code {
        background-color: none;
        color: var(--dark-grey);
        font-size: medium;
      }
    }

    code {
      color: var(--strong-accent-cyan);
      font-size: large;
    }
  }
}

$breakpoint-halfscreen: 756px;
$breakpoint-mobile: 400px;

@media (max-width: $breakpoint-halfscreen) {
  .wrapper {
    .frontmatter {
      .title {
        span {
          font-size: 18pt;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .wrapper {
    max-width: 100%;
    .frontmatter {
      .title {
        span {
          font-size: 18pt;
        }
      }
    }
  }
}
