.wrapper {
  max-width: 800px;
  margin: auto;

  .frontmatter {
    background-color: antiquewhite;
    height: 20vh;

    .title {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        font-size: large;
        color: var(--med-grey);
        width: fit-content;

        &:hover {
          color: var(--strong-accent-cyan);
        }
      }

      span {
        color: var(--dark-grey);
        font-size: xx-large;
      }
    }
  }
  .body {
    overflow: hidden;
    -mx-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

$breakpoint-halfscreen: 756px;
$breakpoint-mobile: 400px;

@media (max-width: $breakpoint-halfscreen) {
  .wrapper {
    .frontmatter {
      background-color: red;
      .title {
        span {
          font-size: 18pt;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .wrapper {
    max-width: 100%;
    .frontmatter {
      background-color: blue;
      .title {
        span {
          font-size: 18pt;
        }
      }
    }
  }
}
