.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 10pt;
  justify-content: space-between;
  max-height: max-content;
}

.title {
  padding: 0 0.25em 0 0.25em;
  flex-grow: 1;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

$breakpoint-tablet: 500px;
@media (min-width: $breakpoint-tablet) {
  .title {
    flex-grow: 3;
  }
  .icons {
    flex-grow: 1;
  }
}

nav img {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.divider {
  align-self: stretch;
  width: 1.5px;
  background-color: var(--med-grey);
  line-height: 1rem;
}
